.layout-header {
  background-color: rgba(150, 150, 150, 0.2);
  border-bottom-width: 1px;
  height: 64px;
  top: 0;
}

.layout-main {
  max-width: 100%;
  min-height: calc(100vh - 128px);
}

.layout-footer {
  align-items: center;
  border-top-width: 1px;
  display: flex;
  height: 64px;
}

.layout-header,
.layout-footer {
  padding: 0 15px;
}
